<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo Final de Algoritmos</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<div class="container">
    <h1>Trabajo Final de Algoritmos</h1>
    <form action="/calculate" method="post">
        <label for="start_node">Nodo de Inicio:</label>
        <input type="text" id="start_node" name="start_node">
        <label for="end_node">Nodo de Fin:</label>
        <input type="text" id="end_node" name="end_node">
        <button type="submit">Calcular Camino Más Corto</button>
    </form>
    <form action="/show_graph" method="get">
        <button type="submit">Mostrar Grafo Completo</button>
    </form>
    {% if result %}
    <div class="result">
        <p>{{ result }}</p>
        <img src="../static/graph.png" alt="Grafo de Caminos">
    </div>
    {% elif error %}
    <div class="error">
        <p>{{ error }}</p>
    </div>
    {% endif %}
</div>
</body>
</html>
